div.Container {
    margin-top: auto;
    margin-bottom: auto;
}

.Container .TextField {
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;

    
}

.Container .TextField label {
    color: var(--category--color);
}

@media (max-width: 414px) {
    div.Container {
        margin-top: 10px;
    }
}